/* GENERAL */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8b8b8b;
}

/* UTILITIES */

.container{
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.float-left{
    float: left;
}

main{
    font-weight: 300;
}

h1,
h2,
h3,
h4{
    font-weight: 500;
    
}

.w-50{
    width:50%;
}

hr{
    margin: 40px;
}


/* MAIN HEADER */

.main-header{
    line-height: 80px;
    font-size: 12px;
    text-transform: uppercase;
    color:#fff;
    background-color: #284179;
}


.main-header .logo{
    width: 15%;
}

.main-header .logo img{
    vertical-align: middle;
    position: relative;
    bottom: 5px;
}

.main-header .col-center{
    width: 45%;
}

.main-header .col-right{
    width: 40%;
    text-align: right;
}



/* navigation */

.main-header ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}


.main-header ul li a{
    text-decoration: none;
    color: #fff;
    

}

.main-header a.btn{
    line-height: 1;
}



.main-header a:not(.btn):hover{
    color: rgb(105, 177, 33);
}



/* buttons */
.btn{
    display: inline-block;
    min-width:100px;
    padding:10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn.btn-green{
    background-color: rgb(105, 177, 33);
    border: 1px solid transparent;
}


.btn.btn-big{
    font-weight: 500;
    padding: 20px;
}

/* MAIN CONTENT */


/* first section */
.hero{
    background-color:  #284179;
    height: 480px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

.hero .container{
    position: relative;
    height: 100%;
    

}

.hero .hero-text{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}


.hero .hero-text h1{
    font-size: 48px;
    color:#fff;
    margin-bottom: 30px;
} 


/* text section */

main .text{
   line-height: 80px; 
   background-color: rgb(235, 232, 232);
}

.text .central-text{
    padding: 30px; 
    text-align: center;
     line-height: 1; 

}

.text .central-text h2{
    color:black;
    margin-bottom: 10px;
}

/* course section */



.first-column{
    width:33%;
}

.second-column{
    width:33%;
}

.third-column{
    width:33%;
}


.first-column .image {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    
}

.second-column .image {
    width: 180px;
    height: 100px;
    margin: 40px auto;
    
}

.third-column .image {
    width: 130px;
    height: 100px;
    margin: 40px auto;
    
}


.course .explanation hr{
    margin: 20px;
}

.explanation h3{
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    
    color:limegreen;
    
}

.explanation p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
   

}

.second-column .explanation p,
.second-column .explanation h3{
    width: 70%;
}

/* test section */

.test img{
    margin-right: 100px;
}

.discover h4{
    width: 80%;
    font-size: 30px;
    color: black;
}

.discover p{
    margin-bottom: 30px;
    width: 65%;
}

.discover a {
    color:#1e71b9;
}